<!DOCTYPE html>

<html data-ng-app="cartongesso">

  <head>
    <meta author="Walter Barbagallo < turbometalskater@gmail.com >">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>cartongesso</title>
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css?__inline=true">
    <link rel="stylesheet" type="text/css" href="./css/style.css?__inline=true"></link>
  </head>

  <body data-ng-controller="DataController as dataController">

    <div class="container">

      <form class="form-horizontal" role="form" name="inputs">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <h3>Calcolo prezzo cartongesso</h3>
              <div class="pull-right">
                <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#settingsModal">
                  Impostazioni
                </button>
              </div>
            </div>
          </div>
          <div class="panel-body">

            <!-- montante -->
            <div class="form-group">
              <label class="col-sm-2 control-label">Montante</label>
              <div class="col-sm-10">
                <div class="radio-inline" data-ng-repeat="el in dataController.data.montante">
                  <label>
                    <input type="radio"
                           value="{{ el.value }}"
                           data-ng-model="dataController.$storage.montante">
                    {{ el.label }}
                  </label>
                </div>
              </div>
            </div>

            <!-- guida -->
            <div class="form-group">
              <label class="col-sm-2 control-label">Guida</label>
              <div class="col-sm-10">
                <div class="radio-inline" data-ng-repeat="el in dataController.data.guida">
                  <label>
                    <input type="radio"
                           value="{{ el.value }}"
                           data-ng-model="dataController.$storage.guida">
                    {{ el.label }}
                  </label>
                </div>
              </div>
            </div>

            <!-- lastra -->
            <div class="form-group">
              <label class="col-sm-2 control-label">Lastra</label>
              <div class="col-sm-10">
                <div class="radio-inline" data-ng-repeat="el in dataController.data.lastra">
                  <label>
                    <input type="radio"
                           value="{{ el.value }}"
                           data-ng-model="dataController.$storage.lastra">
                    {{ el.label }}
                  </label>
                </div>
              </div>
            </div>

            <!-- parete -->
            <div class="form-group">
              <label class="col-sm-2 control-label">Parete</label>
              <div class="col-sm-10">
                <div class="radio-inline" data-ng-repeat="el in dataController.data.parete">
                  <label>
                    <input type="radio"
                           value="{{ el.value }}"
                           data-ng-model="dataController.$storage.parete">
                    {{ el.label }}
                  </label>
                </div>
              </div>
            </div>

            <!-- dimensioni -->
            <div class="form-group">
              <label class="col-sm-2 control-label">Dimensioni</label>
              <div class="col-sm-10">
                <div class="input-group col-sm-4">
                  <span class="input-group-addon">base</span>
                  <input type="number"
                         min="0"
                         step="any"
                         class="form-control"
                         placeholder="inserisci base"
                         data-ng-model="dataController.$storage.base">
                  <span class="input-group-addon">metri</span>
                </div>
                <div class="input-group col-sm-4">
                  <span class="input-group-addon">altezza</span>
                  <input type="number"
                         min="0"
                         step="any"
                         class="form-control"
                         placeholder="inserisci altezza"
                         data-ng-model="dataController.$storage.altezza">
                  <span class="input-group-addon">metri</span>
                </div>
              </div>
            </div>

          </div>
          <div class="panel-footer text-right">
            <div class="alert alert-danger pull-right" role="alert" style="display: none">Attenzione: impostazioni mancanti</div>
            <p class="h3">
              <span data-toggle="tooltip" data-placement="top">Totale: <span id="total">0</span> &euro;/m&sup2;
              </span>
            </p>
          </div>
        </div>
      </form>
    </div>

    <!-- modal settings -->
    <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="modalLabel">Impostazioni</h4>
          </div>
          <div class="modal-body">
            <form name="settings">

              <!-- montante setting -->
              <div class="form-group row">
                <label class="col-sm-3 control-label text-right">Montante</label>
                <div class="col-sm-7">
                  <div class="input-group" data-ng-repeat="el in dataController.data.montanteSetting">
                    <span class="input-group-addon">{{ el.label }}</span>
                    <input type="number"
                           min="0"
                           step=".01"
                           data-ng-model="dataController.$storage[el.modelName]"
                           class="form-control"
                           placeholder="inserisci prezzo">
                    <span class="input-group-addon">&euro; / m</span>
                  </div>
              </div>

              <!-- guida setting -->
              <div class="form-group row">
                <label class="col-sm-3 control-label text-right">Guida</label>
                <div class="col-sm-7">
                  <div class="input-group" data-ng-repeat="el in dataController.data.guidaSetting">
                    <span class="input-group-addon">{{ el.label }}</span>
                    <input type="number"
                           min="0"
                           step=".01"
                           data-ng-model="dataController.$storage[el.modelName]"
                           class="form-control"
                           placeholder="inserisci prezzo">
                    <span class="input-group-addon">&euro; / m</span>
                  </div>
                </div>
              </div>

              <!-- lastra setting -->
              <div class="form-group row">
                <label class="col-sm-3 control-label text-right">Lastra</label>
                <div class="col-sm-7">
                  <div class="input-group" data-ng-repeat="el in dataController.data.lastraSetting">
                    <span class="input-group-addon">{{ el.label }}</span>
                    <input type="number"
                           min="0"
                           step=".01"
                           data-ng-model="dataController.$storage[el.modelName]"
                           class="form-control"
                           placeholder="inserisci prezzo">
                    <span class="input-group-addon">&euro; / m&sup2;</span>
                  </div>
                </div>
              </div>

              <!-- vite setting -->
              <div class="form-group row">
                <label class="col-sm-3 control-label text-right">Vite</label>
                <div class="col-sm-7">
                  <div class="input-group">
                    <span class="input-group-addon">prezzo</span>
                    <input type="number"
                           min="0"
                           step=".01"
                           data-ng-model="dataController.$storage.vitprice"
                           class="form-control"
                           placeholder="inserisci prezzo">
                    <span class="input-group-addon">&euro; / cad</span>
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon">distanza</span>
                    <input type="number"
                           min="0"
                           step="any"
                           data-ng-model="dataController.$storage.vitdistance"
                           class="form-control"
                           placeholder="inserisci misura">
                    <span class="input-group-addon">m</span>
                  </div>
                </div>
              </div>

              <!-- stucco setting -->
              <div class="form-group row">
                <label class="col-sm-3 control-label text-right">Stucco</label>
                <div class="col-sm-7">
                  <div class="input-group">
                    <input type="number"
                           min="0"
                           step=".01"
                           data-ng-model="dataController.$storage.stcprice"
                           class="form-control"
                           placeholder="inserisci prezzo">
                    <span class="input-group-addon">&euro; / m&sup2;</span>
                  </div>
                </div>
              </div>

              <!-- interasse setting -->
              <div class="form-group row">
                <label class="col-sm-3 control-label text-right">Interasse</label>
                <div class="col-sm-7">
                  <div class="input-group">
                    <input type="number"
                           min="0"
                           step="any"
                           data-ng-model="dataController.$storage.interasse"
                           class="form-control"
                           placeholder="inserisci misura">
                    <span class="input-group-addon">m</span>
                  </div>
                </div>
              </div>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
          </div>
        </div>
      </div>
    </div>

    <script src="../bower_components/jquery/dist/jquery.min.js?__inline=true"></script>
    <script src="../bower_components/angular/angular.min.js?__inline=true"></script>
    <script src="../bower_components/ngstorage/ngStorage.min.js?__inline=true"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js?__inline=true"></script>
    <script src="./js/app.js?__inline=true"></script>
    <script src="./js/controllers.js?__inline=true"></script>
    <script src="./js/services.js?__inline=true"></script>
  </body>
</html>
